h1{
    color: black;
    background-color: grey;
    align-content: center;
    text-align: center;
 }
p{
    text-emphasis: italic;
    text-align: center;
    text-decoration-color: grey;
    text-decoration-style: dotted;

 }
